<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>572149479964-1qpb44ntn9klb4qdmco8gkar3harktod.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572149479964-1qpb44ntn9klb4qdmco8gkar3harktod</string>
	<key>API_KEY</key>
	<string>AIzaSyD3d8FwFVamak35IEm8nuDogxH-ldiXw8c</string>
	<key>GCM_SENDER_ID</key>
	<string>572149479964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scyject</string>
	<key>PROJECT_ID</key>
	<string>scyject</string>
	<key>STORAGE_BUCKET</key>
	<string>scyject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572149479964:ios:1717b4bb3b8d86eecdbdd9</string>
</dict>
</plist>